body{
    position: relative;
  z-index: 1;
  min-width: 200px;
  min-height: 200px;
  padding: 120px 200px 50px;
  background: purple url("https://img.songfacts.com/calendar/18697.jpg") -10% 0 repeat-x;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  
   

}

nav {
    background-color: lavender;
    height: 70px;
    margin: 30px;
    
}

  .flex-center{
      display: flex;
      justify-content: center
  }
  
  #prince2{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    margin: auto;
    float: left;
    padding: 50px;
    
    transition: transform .2s;
    width: 350px;
    height: 350px;
    margin: 0 auto;
   
}
#prince2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);

}
#prince3{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    margin: auto;
    float: left;
    padding: 50px;
    
    transition: transform .2s;
    width: 350px;
    height: 350px;
    margin: 0 auto;
   
}
#prince3:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);

}
#prince1{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    margin: auto;
    float: left;
    padding: 50px;
    
    transition: transform .2s;
    width: 350px;
    height: 350px;
    margin: 0 auto;
   
}
#prince1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);

}


.wow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}
aside{
    justify-items: center;
    
    text-align: center
}
#places{
    justify-items: center;
    text-align: center
}
ul {
    list-style-type: none;
  }
ol{
    list-style-type: none;
}  
.col-md-12{
    height: 50px;
}
h1{
    text-align: center;
    font-style: oblique;
    font-weight: bold;
   font-family: Marker Felt, fantasy
    
}
h2, h3{
    
    font-style: oblique;
    font-weight: bold;
    font-family: Marker Felt, fantasy
    
}
.py-3{
    color: purple
}
p{
    font-family: "Blippo", fantasy
}