
h2 {
  color: #fff;
  font-family: 'Sail', cursive;
  font-size: 3em;
}

p.intro {
  color: #000;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 40px;
}

iframe {
  display: inline-block;
  max-width: 600px;
  width: 70%;
}

section ul {
  display: inline-block;
  vertical-align: top;
  width: 25%
}

section li {
  font-size: 1.3em;
  line-height: 1em;
  list-style-type: none;
  padding-bottom: 20px;
}

section li a {
  color: rgba(75, 0, 130, 1);
  transition: color 400ms ease;
}

section i a:hover {
  color: #fff;
  text-decoration: none;
}

section li.heading {
  font-family: 'Sail', cursive;
  font-size: 1.4em;
  color: #fff;
}
