
body{
    background-color: grey;
    position: relative;
    z-index: 1;
    min-width: 200px;
    min-height: 200px;
    padding: 120px 200px 50px;
}


.flex-center {
    display: flex;
    justify-content: center;
}

.fab {
    color: #4B0082;
}
