
body{
    background-color: grey;
    position: relative;
    z-index: 1;
    min-width: 200px;
    min-height: 200px;
    padding: 120px 200px 50px;
}

.nav-wrapper {
    position: fixed;
    width: 100%;
}
nav {
    background-color: lavender;
    height: 100px;
    height: 70px;
    margin: 30px;
}


.page-footer {
    background-color: lavender;
}


.flex-center {
    display: flex;
    justify-content: center;
}

.fab {
    color: #4B0082;
}
