body {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
body{
    background-color: grey;
    position: relative;
    z-index: 1;
    min-width: 200px;
    min-height: 200px;
    padding: 120px 200px 50px;
}

.nav-wrapper {
    position: fixed;
    width: 100%;
}
nav {
    background-color: lavender;
    height: 100px;
    height: 70px;
    margin: 30px;
}


.page-footer {
    background-color: lavender;
}

.symbol {
    width: 50px;
    margin-left: 50px;
} 

.navbar-nav {
    margin-right: 50px;
}

.n-text {
    color: #4B0082;
    
}

.flex-center {
    display: flex;
    justify-content: center;
}

.fab {
    color: #4B0082;
}